<!DOCTYPE html>
<html>
<head>
    <title>Configuración del Escuadrón</title>
</head>
<body>
    <h1>Configuración del Escuadrón: {{ escuadron.nombre }}</h1>
    <div>
        <h2>Secciones</h2>
        {% for seccion in secciones %}
        <p>Sección: {{ seccion.nombre }}</p>
        <p>Jefe de Sección: {{ seccion.jefe_seccion.username }}</p>
        <a href="{% url 'editar_seccion' seccion.id %}">Editar Sección</a>
        <a href="{% url 'eliminar_seccion' seccion.id %}">Eliminar Sección</a>
        {% endfor %}
    </div>
    <a href="{% url 'crear_seccion' escuadron.id %}">Agregar Sección</a>
</body>
</html>
